.register-background {
    -fx-background-color: linear-gradient(to bottom right, #2980B9, #6DB3F2);
}

.register-container {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-background-radius: 10;
    -fx-padding: 40;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

.register-title {
    -fx-text-fill: #2980B9;
    -fx-font-weight: bold;
}

.register-input {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #6DB3F2;
    -fx-padding: 10;
    -fx-font-size: 14px;
}

.register-button {
    -fx-background-color: #6DB3F2;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-font-size: 16px;
    -fx-padding: 10;
}

.register-button:hover {
    -fx-background-color: #2980B9;
}